Test-Command:
 apt-get -t jessie-backports -y install python3-pytest 2>&1 && cd debian/tests && python3 -m pytest -v --durations=10
Depends:
 @,
 iproute2,
 python3,
Restrictions:
 isolation-container,
 needs-root,
