Source: mailrobots
Maintainer: Sam Morris <sam@robots.org.uk>
Section: mail
Priority: optional
Build-Depends:
 debhelper (>= 10),

Package: mailrobots
Architecture: all
Depends:
 acl,
# clamav-daemon,
 exim4-daemon-heavy,
# dovecot-antispam,
 dovecot-imapd,
 dovecot-lmtpd,
# dovecot-managesieved,
 dovecot-sieve,
# mailman,
 python,
# spamassassin,
 ${misc:Depends},
Description: robots.org.uk mail system
