Source: mailrobots
Maintainer: Sam Morris <sam@robots.org.uk>
Section: mail
Priority: optional
Build-Depends:
 debhelper (>= 10),

Package: mailrobots
Architecture: all
Pre-Depends:
 ca-certificates,
Depends:
 acl,
 clamav-daemon,
 clamav-freshclam,
 exim4-daemon-heavy,
# pull in dovecot from backports
 dovecot-core (>= 1:2.2.27),
 dovecot-imapd,
 dovecot-lmtpd,
 dovecot-managesieved,
 dovecot-sieve,
 geoip-bin,
 geoip-database-contrib,
 libdomain-publicsuffix-perl,
 libencode-detect-perl,
 libgeo-ip-perl,
 libmail-dkim-perl,
 libmail-spf-perl,
# mailman,
 moreutils,
 python,
 python-pylibacl,
 python3,
# pyzor,
# razor,
 spamassassin,
 spamc,
 ssl-cert,
 wget,
 ${misc:Depends},
Description: robots.org.uk mail system
