Source: mailrobots
Maintainer: Sam Morris <sam@robots.org.uk>
Section: mail
Priority: optional
Build-Depends:
 debhelper (>= 10),

Package: mailrobots
Architecture: all
Pre-Depends:
 ca-certificates,
Depends:
 acl,
# clamav-daemon,
 exim4-daemon-heavy,
# dovecot-antispam,
 dovecot-imapd,
 dovecot-lmtpd,
# dovecot-managesieved,
 dovecot-sieve,
 geoip-bin,
 geoip-database-contrib,
 libdomain-publicsuffix-perl,
 libgeo-ip-perl,
# mailman,
 python,
 python-pylibacl,
# spamassassin,
 wget,
 ${misc:Depends},
Description: robots.org.uk mail system
