[Unit]
Description=public suffix list update timer

[Timer]
OnCalendar=weekly
RandomizedDelaySec=7d
Persistent=true

[Install]
WantedBy=timers.target
